<!doctype html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <title>상세페이지</title>
</head>

<body>
    <%- include('nav.html') %>

    <div class="container mt-3">
        <div class="card" style="width: 100%">
          <div class="card-body">
            <h5 class="card-title"><%= detail.제목 %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= detail.날짜 %></h6>
            <p class="card-text">임시내용입니다.</p>
            <a href="#" class="card-link">수정하기</a>
          </div>
        </div>
      </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</body>

</html>