.wrap {
    max-width: 600px;
    margin: 0 auto;
}
.card {
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
}
.list-group-item {
    position: relative;
}
.editForm {
    position: absolute;
}
.inputEdit {
    width: 240%;
}
.btn_wrap {
    width: 15%;
}
.comBtn {
    float: right;
    width: 24px;
    height: 24px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 50%;
    background: none;
}
.comBtn svg {
    width: 14px;
    height: 14px;
}
.comBtn:hover {
    color: #fff;
    background: #000;
}
.content {
    width: 80%;
}
.nickname {
    width: 10%;
    font-size: 13px;
    font-weight: 600;
}
.none {
    display: none;
}